body
{
    background-color: rgba(235, 235, 235, 0.897);
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
  }
  
  header 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .panel
  {
      margin-top: 15px;
      border-radius: 0%;
  }

  .panel img
  {
      width: 50%;
      display: block;
      margin: 0 auto;
  }